<%- include("partials/header") %>
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center text-white">
        <h1 class="display-1">Edwin Espinoza</h1>
        <h1 class="display-4">Technology and everything else.</h1>
        <p class="lead">
            I am currently a student finishing up my final semester at
            University and I love to learn anything and everything. Some topics
            personal to me are self-improvment, philosophy, music, coffee,
            health and technology. So let's learn everything together!
        </p>
        <a id="blog-link" class="btn btn-outline-light btn-lg">Go to blog</a>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-4">
            <img id="face" class="img-thumbnail rounded-circle"
                 alt="face"
                 src="/imgs/thumbnail.jpg" />
        </div>
        <div class="col-md-8">
            <h1 class="font-italic text-muted">about</h1>
            <p>
                I am currently just a student, but soon I will gradutate and I
                want to document my transition to the working world. I am currently
                working hard on learning many different web development tools. I
                am learning javascript, mongodb, heroku and many others.
            </p>
        </div>
    </div>
</div>

<!-- Front End -->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid same-size" alt="code" src="/imgs/html.webp" />
        </div>
        <div class="col-md-6">
            <h3 class="font-italic text-muted">Front End</h3>
            <p>
                A full list of tools I have used for front end web develoment.
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Javascript, HTML, CSS.</li>
                <li class="list-group-item">jQuery, Bootstrap, Semantic UI.</li>
            </ul>
        </div>
    </div>
</div>

<!-- Back End -->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 order-md-1 order-2">
            <h3 class="font-italic text-muted">Back End</h3>
            <p>
                A full list of tools I have used for back end web develoment.
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">PHP, Oracle PL/SQL, Javascript.</li>
                <li class="list-group-item">Mongodb, EJS, Express, Nodejs.</li>
            </ul>
        </div>
        <div class="col-md-6 order-md-2 order-1">
            <img class="img-fluid same-size" alt="server" src="/imgs/server.webp" />
        </div>
    </div>
</div>

<!-- Break with contact me info -->
<footer class="border-top py-3 d-flex justify-content-center">
    <ul class="list-inline m-0">
        <li class="list-inline-item footer-list-item text-center"><a class="footer-link" href="/"><i class="fas fa-home px-2 icon-large"></i></a></li>
        <li class="list-inline-item footer-list-item text-center"><a class="footer-link" href="https://github.com/edsprofile"><i class="fab fa-github px-2"></i></a></li>
        <li class="list-inline-item footer-list-item text-center"><a class="footer-link" href="mailto:espined48@gmail.com"><i class="fas fa-envelope px-2"></i></a></li>
    </ul>
</footer>
<%- include("partials/footer") %>
