<%- include("partials/header") %>
<div class="jumbotron jumbotron-fluid pb-0 mb-0">
    <div class="container text-center text-white">
        <h1 class="display-1">Edwin Espinoza</h1>
        <h1 class="display-4">Web developer.</h1>
        <p class="lead">
            I am a recent graduate and I love to learn anything and everything. I curently know many different web development tools.
            check out my projects pages.
        </p>
        <a id="blog-link" class="btn btn-outline-light btn-lg" href="/blog">Go to blog</a>
    </div>
    <div class="wave-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
            <path fill="white" fill-opacity="1" d="M0,96L48,106.7C96,117,192,139,288,144C384,149,480,139,576,117.3C672,96,768,64,864,69.3C960,75,1056,117,1152,122.7C1248,128,1344,96,1392,80L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
        </svg>
    </div>
</div>


<div class="container mb-5">
    <div class="row">
        <div class="col-md-4">
            <img id="face" class="img-thumbnail rounded-circle"
                 alt="face"
                 src="/imgs/thumbnail.jpg" />
        </div>
        <div class="col-md-8">
            <h1 class="font-italic text-muted">about</h1>
            <p>
                I am a recent graduate from Humboldt State University. I have held previous positions as a tutor. I have tutored students from the middle school level to the college level.
            </p>
        </div>
    </div>
</div>

<!-- Front End -->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" alt="code" src="/imgs/html.png" />
        </div>
        <div class="col-md-6">
            <h3 class="font-italic text-muted">Front End</h3>
            <p>
                A full list of tools I have used for front end web develoment.
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Javascript, HTML, CSS.</li>
                <li class="list-group-item">jQuery, Bootstrap, Semantic UI.</li>
            </ul>
        </div>
    </div>
</div>

<!-- Back End -->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 order-md-1 order-2">
            <h3 class="font-italic text-muted">Back End</h3>
            <p>
                A full list of tools I have used for back end web develoment.
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">PHP, Oracle PL/SQL, Javascript.</li>
                <li class="list-group-item">Mongodb, EJS, Express, Nodejs.</li>
            </ul>
        </div>
        <div class="col-md-6 order-md-2 order-1">
            <img class="img-fluid" alt="server" src="/imgs/server.png" />
        </div>
    </div>
</div>

<!-- Break with contact me info -->
<footer class="border-top py-3 d-flex justify-content-center">
    <ul class="list-inline m-0">
        <a class="footer-link mx-2" href="/">
            <li class="list-inline-item footer-list-item text-center"><i class="fas fa-home px-2 icon-large"></i></li>
        </a>
        <a class="footer-link mx-2" href="https://github.com/edsprofile">
            <li class="list-inline-item footer-list-item text-center"><i class="fab fa-github px-2"></i></li>
        </a>
        <a class="footer-link mx-2" href="mailto:espined48@gmail.com">
            <li class="list-inline-item footer-list-item text-center"><i class="fas fa-envelope px-2"></i></li>
        </a>
    </ul>
</footer>
<%- include("partials/footer") %>
