<%- include("../partials/header") %>
<div class="container mt-3">
    <a class="btn btn-success" href="/blog/">New post</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 my-3">
            <div class="card">
                <div class="d-flex">
                    <div class="img-square-wrapper">
                        <img class="card-img" alt="car" src="/imgs/thumbnail.jpg" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">This is a test post</h5>
                        <p class="card-text">This is test content. This page id not fully functional yet.</p>
                        <a class="btn btn-primary" href="/blog/">Go to full post</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>
